body
{
  background-image: url("./assets/images/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fafafa;
  background-attachment: fixed;
}